nodered-uibuilder-vue.json
[{"id":"9b59d683.fcc8a8","type":"tab","label":"Ui_knobs_demo","disabled":false,"info":""},{"id":"e9368716.cf98a8","type":"uibuilder","z":"9b59d683.fcc8a8","name":"ui_knobs","topic":"","url":"ui_knobs","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"useSecurity":false,"sessionLength":432000,"tokenAutoExtend":false,"x":220,"y":160,"wires":[["8bd4e39e.aea79"],[]],"info":"Demo for vue-knobs"},{"id":"8bd4e39e.aea79","type":"debug","z":"9b59d683.fcc8a8","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":160,"wires":[]},{"id":"9dfcc623.dc2c08","type":"comment","z":"9b59d683.fcc8a8","name":"How to ...","info":" * replace files index.html,index.js and index.css from the comments as the ui_knobs node source files\n * open browser window for localhost:1880/ui_knobs\n * activate node-red debug pane\n * play with knobs in UI\n * watch the debug messages\n * read source code in index.html and index.js\n","x":220,"y":100,"wires":[]},{"id":"c69f8f0f.c66d4","type":"comment","z":"9b59d683.fcc8a8","name":"index.html","info":"<!doctype html>\n<!-- Note that adding an appcache really speeds things up after the first load\n    You need to amend the appcache file to meet your needs.\n    Don't forget to change the appcache file if you update ANY\n    of the files in it otherwise the old versions will ALWAYS be used.\n<html lang=\"en\" manifest=\"./uibuilder.appcache\">\n-->\n<html lang=\"en\">\n<head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\n    <title>Demo of vue-canvas-knob widgets in UI builder nodes</title>\n    <meta name=\"description\" content=\"vue-canvas-knob demonstration\">\n\n    <link rel=\"icon\" href=\"./images/node-blue.ico\">\n\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"../uibuilder/vendor/bootstrap/dist/css/bootstrap.min.css\" />\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"../uibuilder/vendor/bootstrap-vue/dist/bootstrap-vue.css\" />\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"./index.css\" media=\"all\">\n\n</head>\n<body>\n    <div v-cloak>\n        <b-container id=\"app_container\">\n            <b-img src=\"./images/node-blue-192x192.png\" rounded left v-bind=\"imgProps\" alt=\"Blue Node-RED\" class=\"mt-1 mr-2\"></b-img>\n            <h1>UIbuilder + Vue.js + vue-canvas-knob.js for Node-RED</h1>\n            <p>\n                This is a uibuilder example using <a href=\"https://vuejs.org/\">Vue.js</a> as a front-end library.\n                See the\n                <a\n                    href=\"https://github.com/TotallyInformation/node-red-contrib-uibuilder\">node-red-contrib-uibuilder</a>\n                README for details on how to use UIbuilder.\n            </p>\n        </b-container>\n    </div>\n<div id=\"app\">\n</div>\n<script src=\"https://cdn.jsdelivr.net/npm/vue@2.6.12\">\n\n</script><script src=\"./vue-knob.js\"></script>\n\n    <!-- Dont forget to use minified versions of libraries for production, non-min versions for development only -->\n    <!-- These MUST be in the right order. Note no leading / -->\n\n    <!-- REQUIRED: Socket.IO is loaded only once for all instances. Without this, you don't get a websocket connection -->\n    <script src=\"../uibuilder/vendor/socket.io/socket.io.js\"></script>\n\n    <!-- --- Vendor Libraries - Load in the right order --- -->\n    <script src=\"../uibuilder/vendor/vue/dist/vue.js\"></script> <!-- dev version with component compiler -->\n    <!-- <script src=\"../uibuilder/vendor/vue/dist/vue.min.js\"></script>   prod version with component compiler -->\n    <!-- <script src=\"../uibuilder/vendor/vue/dist/vue.runtime.min.js\"></script>   prod version without component compiler -->\n    <script src=\"../uibuilder/vendor/bootstrap-vue/dist/bootstrap-vue.js\"></script>\n\n    <!-- REQUIRED: Sets up Socket listeners and the msg object -->\n    <script src=\"./uibuilderfe.js\"></script> <!-- dev version -->\n    <!-- <script src=\"./uibuilderfe.min.js\"></script>     //prod version -->\n\n    <script src=\"./vue-knob.js\"></script>\n    <!-- OPTIONAL: You probably want this. Put your custom code here -->\n    <script src=\"./index.js\"></script>\n\n</body>\n</html>\n","x":360,"y":100,"wires":[]},{"id":"52a05d28.f57c74","type":"comment","z":"9b59d683.fcc8a8","name":"index.js","info":"'use strict'\n\n/** @see https://github.com/TotallyInformation/node-red-contrib-uibuilder/wiki/Front-End-Library---available-properties-and-methods */\n\n// eslint-disable-next-line no-unused-vars\n  // compass directions\nconst directions = ['S','SW','W','NW','N','NE','E','SE'];\n\nnew Vue({\n    data: function() {\n        return {\n            knobSize: 250,\n            direction: 4,\n            r: 127,\n            g: 127,\n            b: 127\n        }\n    },\n    template: `\n    <div id=\"mixer\">\n      <h1>Color Mixer</h1>\n      <vue-knob :width=knobSize :height=knobSize color-bg=\"#444444\" :value-min=\"0\" :value-max=\"255\" :input-popup=\"true\"\n        color-fg=\"#ff0000\" label=\"red\" value=\"127\" @value-changed=\"colorChanged('r', $event)\"/>\n      <vue-knob :width=knobSize :height=knobSize color-bg=\"#444444\" :value-min=\"0\" :value-max=\"255\" :input-popup=\"true\"\n        color-fg=\"#00ff00\" label=\"green\" value=\"127\" @value-changed=\"colorChanged('g', $event)\"/>\n      <vue-knob :width=knobSize :height=knobSize color-bg=\"#444444\" :value-min=\"0\" :value-max=\"255\" :input-popup=\"true\"\n        color-fg=\"#0000ff\" label=\"blue\" value=\"127\" @value-changed=\"colorChanged('b', $event)\"/>\n\n      <vue-knob :width=knobSize :height=\"knobSize\" color-bg=\"#444444\" :value-min=\"0\" :value-max=\"8\"\n        :angle-start=\"-Math.PI\" :angle-end=\"Math.PI\" color-fg=\"#eeeeee\"\n        value=\"4\" :needle=\"true\" :string-to-value=\"directionToValue\" :value-to-string=\"valueToDirection\"\n        @value-changed=\"directionChanged($event)\">\n\n      </vue-knob>\n      <div id=\"resultPane\" :style=\"{backgroundColor: getBackgroundColor}\">\n      <p class=\"text\">CSS color code: {{getBackgroundColor}}</p>\n      <p class=\"text\">{{valueToDirection(direction)}}</p>\n      </div>\n\n    </div>\n    `,\n    computed: {\n        getBackgroundColor() {\n            return '#'+ this.to2hex(this.r) + this.to2hex(this.g) + this.to2hex(this.b);\n        }\n    },\n\n    created: function() {\n        // Example of retrieving data from uibuilder\n        this.feVersion = uibuilder.get('version');\n\n        /** **REQUIRED** Start uibuilder comms with Node-RED @since v2.0.0-dev3\n         * Pass the namespace and ioPath variables if hosting page is not in the instance root folder\n         * e.g. If you get continual `uibuilderfe:ioSetup: SOCKET CONNECT ERROR` error messages.\n         * e.g. uibuilder.start('/uib', '/uibuilder/vendor/socket.io') // change to use your paths/names\n         * @param {Object=|string=} namespace Optional. Object containing ref to vueApp, Object containing settings, or String IO Namespace override. changes self.ioNamespace from the default.\n         * @param {string=} ioPath Optional. changes self.ioPath from the default\n         * @param {Object=} vueApp Optional. Reference to the VueJS instance. Used for Vue extensions.\n         */\n        uibuilder.start(this); // Single param passing vue app to allow Vue extensions to be used.\n    },\n\n    methods: {\n        colorChanged(color, e)  {\n            this[color] = e;\n            var topic = 'uibuilder/knobs/color'\n            uibuilder.send( {\n                'topic': topic,\n                'payload': {\n                    'color': color,\n                    'value': e\n                }\n            });\n        },\n\n        directionChanged(e) {\n            this.direction = e;\n            var topic = 'uibuilder/knobs/direction'\n            uibuilder.send({\n                'topic': topic,\n                'payload': {\n                    'direction': directions[e]\n                }\n            });\n        },\n\n        to2hex(n) {\n            let s = n.toString(16);\n            if (s.length < 2) s= '0'+s;\n            return s;\n        },\n\n        // convert compass direction to internal number\n        directionToValue(direction) {\n            const idx = directions.findIndex(el => el === direction.toUpperCase());\n            return (idx === -1) ? 0 : idx;\n        },\n\n        // convert internal number to compass direction\n        valueToDirection(value) {\n            return directions[Math.trunc(value % 8)];\n        }\n    }\n}).$mount('#app');\n","x":490,"y":100,"wires":[]},{"id":"7b20bbf3.7b1294","type":"comment","z":"9b59d683.fcc8a8","name":"index.js","info":"/* Cloak elements on initial load to hide the possible display of {{ ... }}\n * Add to the app tag or to specific tags\n * To display \"loading...\", change to the following:\n *    [v-cloak] > * { display:none }\n *    [v-cloak]::before { content: \"loading…\" }\n */\n[v-cloak] { display: none; }\n\n#mixer {\n    font-family: Avenir, Helvetica, Arial, sans-serif;\n    -webkit-font-smoothing: antialiased;\n    -moz-osx-font-smoothing: grayscale;\n    text-align: center;\n    color: #2c3e50;\n    margin-top: 60px;\n    background-color: black;\n}\n\n#resultPane {\n    left: 0;\n    right: 400px;\n    top: 0;\n    height: 200px;\n    padding: 10px;\n    border: 1px solid black;\n}\n\nh1 {\n    padding: 20px;\n    color: white;\n}\n\n.text {\n    padding: 10px;\n    font-size: 30px;\n    color: white;\n}\n","x":610,"y":100,"wires":[]},{"id":"5a3d4fbc.6f4","type":"comment","z":"9b59d683.fcc8a8","name":"about vue-canvas-knob","info":"\nSee complete documentation and code for vue-knob component at:\n\n[GitHub](https://github.com/ambotaku/vue-knob.git)\n\nUse vue-knob as single-file component:\n`npm install vue-canvas-knob`","x":240,"y":40,"wires":[]}]